/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
}

body{
    font-family: 'Barlow', sans-serif;
    max-width: 1110px;

    margin: 0 auto;
    box-sizing: border-box;
}



.cabecalho{
    padding: 5px 0 5px 0;
    width: 1110px;
    height: 60px;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho img{
    width: 42px;
    height: 42px;

    cursor: pointer
}

.cabecalho ul li {
    width: 175px;
    height: 58px;
    border-radius: 10px;
    background-color: #E8EFF2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease all;
  }
  
  .cabecalho ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #162542;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    transition: 0.3s ease all;
  }
  
  .cabecalho ul li:hover {
    background-color: #162542;
  }
  
  .cabecalho ul li:hover a {
    color: #fff;
  }

.pre-order{
    width: 445px;
    height: 312px;
    padding: 5px 0 2px 0;
    margin-top: 112px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    justify-content: space-between;
}

.pre-order h1{
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
    height: 112px;


    color: #162542;
}

.pre-order p{
    color: #7B8BAD;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.pre-order a {
    text-decoration: none;
    color: #ffff;
    background-color: #F16718;
    width: 175px; 
    height: 58px;
    border-radius: 8px;

    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
}

.pre-order .paragraph{
    position: absolute;
    top: 270px;
    left: 239px;
}

.lateral{
    position: relative;
    left: 575px;
    bottom: 400px;

    width: 540px;
    height: 480px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.infos{
    /* padding: 25px; */
    margin-top: 175px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    width: 255px;
    height: 265px;
    padding: 5px;
}

.info h2{
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #162542;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.info p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.imagens {
    display: flex;
    gap: 20px; 
}

.imagens .img-1{
    width: 255px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.imagens .img-2{
    width: 445px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    width: 100%;
    margin-top: 180px;
    
}

.card {
    height: 323px;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: grab;
    transition: 0.3s ease all;

}

.card:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 1);
}

.card h3{
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    color: #162542;
}

.card p{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #7B8BAD;
}


.card .icon {
    font-size: 34px;
    color: #ffff;
}

.card .background{
    background-color: #F16718;
    width: 66px;
    height: 66px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 700;
    line-height: 26px;
    color: #7B8BAD;
    
    padding: 5px;
    width: 100%; 
    margin: 0 auto;
    text-align: center;
    margin-top: 110px; 
} 

footer + span{
    font-weight: 500;
    color: #7B8BAD;
}


